@using DTShopping.Properties
@model DTShopping.Models.Dashboard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table width="100%" border="0" cellspacing="3" cellpadding="3" class="shoptable">
        <tr>
            <td width="18%"><img src="~/images/thanku.jpg" alt="Thank You" style="padding-left: 70%; padding-top: 10%;"></td>
            <td width="57%"  style="padding-left: 5%;" valign="middle">
                Thanks for placing your order with us here at (Discount Tadka). <br>
                Please find your order status in the "Orders" section in your account.                                             <br>
                Your order has been placed successfully.
            </td>
        </tr>
    </table>
</div>
