/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
body{min-width:100%;line-height:1}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
    }

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0;
    }
    a, img { outline: 0;outline: none;border: none }
    a, a:hover{
        font-size:12px;
        line-height:16px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer
    }





/* #Basic Styles
================================================== */



/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        text-transform: uppercase
    }
    .contentText h3{font-family:arial}

	p {margin: 0;padding: 0;font-family: arial;font-size: 12px}

em { font-style: italic; }
strong { font-weight: bold; }
.br_space{ line-height:5px}
.pos_relative{ position:relative}
.display_none{ display:none}
.display_block{ display: block}
.f_left { float:left}
.f_right { float:right}
.t_right{text-align: right}
.t_center{text-align:center}

.v_align_top{vertical-align: top;}
.v_align_mid{vertical-align:middle;}

.table_style{padding: 0;margin: 0;border: none;width: 100%}
.td_style{padding: 0;margin: 0;border: none}

.border_none{border:none}

/* #Lists
================================================== */
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
        height: auto;
    }

    .product_img_wrapper a{display: block;}
    .product_img_wrapper img.scale-with-grid {
            width: 100%;
            height: auto!important;
        }

    img.scale-with-grid-resize{
        width: 100%;
        height: auto;
    }

    img.scale-with-grid-resize-one{
        max-width: 100%;
        height: auto;
    }

/* #Buttons
================================================== */
	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */
	select{
		padding: 0;
		height:18px;
    }



