.product{margin-bottom: 20px !important;}
#carousel_bestsellers .product{_margin-bottom:-90px}
.infoBox .product{margin-bottom:0}

/* Elastislide titles */
#brands_title{margin-top: 20px}
#bestsellers_title{margin-top: 20px}

#carousel_brands{
    margin-bottom: 20px
}

#bestsellers_title, #brands_title{
    font-size: 22px;
    line-height: 25px;
    overflow: hidden;
}
#bestsellers_title .icon_bestsellers{
    background-image:url(../unishop_images/icon-bestsellers.png);
    margin-right: 11px
}

#brands_title .icon_brands{
    background-image:url(../unishop_images/icon-brands.png);
    margin-right: 11px
}


.icon_facebook{
    background-image:url(../unishop_images/icon-info-facebook.png);
    margin-right: 10px;
}
.icon_twitter{
    background-image:url(../unishop_images/icon-info-twitter.png);
    margin-right: 10px;
}
.icon_footer_theme{
    background-image:url(../unishop_images/icon-info-theme.png);
    margin-right: 10px;
}
.icon_contact{
    background-image:url(../unishop_images/icon-info-contact.png);
    margin-right: 10px;
}







/* Elastislide Style */
.es-carousel-wrapper{
    position:relative;
}
.es-carousel-inner{overflow: hidden}

.es-carousel{
    overflow:hidden;
}
.es-carousel ul li{
    height:100%;
    float:left;
    display:block;
}
.es-carousel ul li .product_img{
    display:block;
}
.es-carousel ul li a img.scale-with-grid,
.product .product-image-wrapper img,
.product .product-image-wrapper img.scale-with-grid{
    display:block;
    border:none;
    _width:100%;
    _height:auto;

    /*max-height:279px;*/
}


.es-nav span{
    position:absolute;
    top:-25px;
    right:36px;
    background-image:url(../unishop_images/all-sliders-markers.png);
    background-repeat: no-repeat;
    background-position: top left;
    width:32px;
    height:31px;
    margin-top:-21px;
    text-indent:-9000px;
    cursor:pointer;
}
#carousel_also .es-nav span{top:-55px;}
.es-nav span.es-nav-next{
    right:0px;
    left:auto;
    background-position:top right;
}
.es-nav span:hover{
    opacity:1.0;
}

/* end Elastislide Style */
#carousel_brands img{
    margin: 0 auto
}
#carousel_brands a{
   text-align: center;
    display: block;
}



/* sliders, listings */
.carousel_bestsellers_outer{
}
#carousel_bestsellers{
    padding-top: 20px
}
.product .product-image-wrapper {
    text-align: center;
    position:relative;
    cursor: pointer;
    background-color: #fff ;
    border:none;
}
.product .img_border{
    background: #fff;
    padding: 3px;
    display: block;
}



.product .product-image-wrapper img {
    margin: 0 auto;
    float:none;
}
.product .product-name{margin-bottom:11px}
.product .product-price {
    font-size:26px;
    line-height:18px;
    margin-top:6px
}
.product .product-image-wrapper-hover {
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10!important;
    background:url(../unishop_images/bg_black_10.png) repeat;
}
.product .wrapper-hover {
    padding:12px 0px 0px 0;
    text-align: left;
    overflow: hidden;
}



.product .product-name a:hover{
    text-decoration:underline
}

.product .product-price .new_price,
#columnLeft .et_box_new .new_price{
    font-size: 16px;
    line-height:24px;
    font-weight: normal;
}
.product .product-price .new_price s{
    font-size: 14px;
    padding-right: 5px;
    line-height: 17px;
    float: left;
}
.infoBox .product .product-price .new_price s{
    float: none;
}


.icon_cart_title{
    float:left;
    width:80%;
}

.icon_cart_rollover{
    float:right;
    width: 20%
}

.expected-product{
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
    padding-top: 6px;
    font-size: 12px;
    font-family: arial
}

.icon_cart_rollover a{
    padding: 0;
    margin: 0;
    border: none;
    display:block;
    width:36px ;
    height:35px ;
    float: right;
    background-image:url(../unishop_images/icon-cart-rollover.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: background-position .5s linear;
    -moz-transition: background-position .5s linear;
    -o-transition: background-position .5s linear;
    transition: background-position .5s linear;

}
.icon_cart_rollover a:hover{
    background-position:-36px 0px;
}
#deal .icon_cart_rollover a{background:url(../unishop_images/icon-cart-rollover.png) 0px 0px no-repeat;}

.product-image-wrapper .roll_over_img,
.products-list .product-image .roll_over_img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%
}

.product_sticker {
    display: block;
    height: 69px;
    position: absolute;
    width: 69px;
    z-index: 7;
   display: none;
}



.sticker_onsale_top_left {
    background: url("../unishop_images/saveup.png") no-repeat scroll 0 0 transparent;
	font-family:'Oswald'; text-align:center; padding:15px 0; font-size:12px;
    background-position: 0 0;
    top:-3px;
    left:-4px
}

.sticker_display_none{ display:none}
.sticker_display{ display: block}



.sticker_options_bottom_right {
    background: url("../unishop_images/label_options.png") no-repeat scroll 0 0 transparent;
    background-position: 0 0;
    right:-3px;
    bottom:-3px
}

.sticker_new_top_right {
    background: url("../unishop_images/label_new.png") no-repeat scroll 0 0 transparent;
    background-position: 0 0;
    right:-3px;
    top:-3px
}
/* simple responsive slider */
/*! http://responsiveslides.com v1.53 by @viljamis */
#slider_top{position: relative;left: 0;top:0}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.rslides_nav{
    position: absolute;
    z-index: 40000;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height:51px;
    width:50px;
	background-image:url(../unishop_images/sider-markers.png);
    background-repeat: no-repeat;
    top:50%;
    background-color:#9e9e9e;
    opacity: 0.5
}
.rslides_nav:hover{
    opacity: 1
}

.rslides_nav.prev {
    background-position:top left;
    left: 0px
}

.rslides_nav.next {
    background-position:top right;
    right: 0px
}


/* end simple responsive slider */

