
@{
    ViewBag.Title = "MyAccount";
}

    <div class="">
        <div class="container">
            <div class="sixteen columns">
                <div class="breadcrumbs_box">
                    <a href="http://www.ethemeuk.com" class="headerNavigation1">Top</a><a href="index.php" class="headerNavigation1">Catalog</a><span class="headerNavigation">Create an Account</span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sixteen columns">
            <div id="bodyContent" class="sixteen columns omega main_part_wrapper">           
                <h1>My Account Information</h1>

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="13%"></td>
                        <td width="87%"></td>
                    </tr>
                    <tr>
                        <td align="center"><img src="~/images/my_cart.jpg" alt="" width="88" height="85"></td>
                        <td valign="middle"><h3><a href="/Manage/GetCartProductList">My Cart</a></h3><P>View items currently in your cart.                              Note if   you don't checkout, the items will   stay in your cart as long as you   don't empty it or they are timed out.   We recommend you                                to checkout as soon as you are done   shopping.</P> </td>
                    </tr>

                    <tr>
                        <td align="center"><img src="~/images/discount_coupon.jpg" alt="" width="85" height="78"></td>
                        <td valign="middle">
                            <h3><a href="/Home/DiscountCoupons">Discount Coupons</a></h3>
                            <P>View discount Coupons. </P>
                        </td>
                    </tr>

                    <tr>
                        <td align="center"><img src="~/images/order_now.jpg" alt="" width="80" height="78"></td>
                        <td valign="middle">
                            <h3><a href="/Home/Orders">orders</a></h3>
                            <P>View Order information.</P>
                        </td>
                    </tr>

                    <tr>
                        <td align="center"><img src="~/images/sign_up.jpg" alt="" width="85" height="78"></td>
                        <td valign="middle">
                            <h3><a href="/Home/UpdateAccount">Edit account</a></h3>
                            <P>View and                          Update your account information. You may change your login password, email etc. here.</P>
                        </td>
                    </tr>

                    <tr>
                        <td align="center"><img src="~/images/logout.jpg" alt="" width="85" height="78"></td>
                        <td valign="middle">
                            <h3><a href="/Account/LogOff">logout </a></h3>
                            <P>Logout from your account</P>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>

            </div>
           

        </div>
    </div>

