
@{
    ViewBag.Title = "Orders";
}

<div class="">
    <div class="container">
        <div class="sixteen columns">
            <div class="breadcrumbs_box">
                <a href="http://www.ethemeuk.com" class="headerNavigation1">Top</a><a href="index.php" class="headerNavigation1">Catalog</a><span class="headerNavigation">Create an Account</span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sixteen columns">
        <div id="bodyContent" class="sixteen columns omega main_part_wrapper">
        
            <h1>ORDER DETAILS</h1>

            <table width="100%" border="0" cellspacing="5" cellpadding="5" class="shoptable" style="width: 100%; border-top: 1px solid rgb(204, 204, 204);">
                <tr>
                    <td width="13%" bgcolor="#E9E9E9"><h3>product code </h3></td>
                    <td width="14%" bgcolor="#E9E9E9"><h3>product name</h3></td>
                    <td width="11%" bgcolor="#E9E9E9"><h3>QUANTITY</h3></td>
                    <td width="10%" bgcolor="#E9E9E9"><h3>PRICE</h3></td>
                    <td width="13%" bgcolor="#E9E9E9"><h3>POINTS USED</h3></td>
                    <td width="16%" bgcolor="#E9E9E9"><h3>SHIPPING CHARGES</h3></td>
                    <td width="12%" bgcolor="#E9E9E9"><h3>NET PRICE</h3></td>
                    <td width="11%" bgcolor="#E9E9E9"><h3>DISPACTH</h3></td>
                </tr>
                <tr>
                    <td class="bordertop"></td>
                    <td class="bordertop"></td>
                    <td valign="middle" class="bordertop"> </td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bordertop"></td>
                    <td class="bordertop"></td>
                    <td valign="middle" class="bordertop"></td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bordertop"></td>
                    <td class="bordertop"></td>
                    <td valign="middle" class="bordertop"></td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bordertop"></td>
                    <td class="bordertop"></td>
                    <td valign="middle" class="bordertop"></td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                    <td valign="middle" class="bordertop">&nbsp;</td>
                </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="shoptable">
                <tr>
                    <td width="51%">Total 0 records available.</td>
                    <td width="49%">&nbsp;</td>
                </tr>
            </table>


        </div>


    </div>
</div>

