
@{
    ViewBag.Title = "TermsAndConditions";
}
<div class="container">
    <div class="sixteen columns">
        <div id="bodyContent" class="sixteen columns omega main_part_wrapper">
            <!-- subcategory view -->
            <h1>TERMS &amp; CONDITIONS</h1>

            <div class="contentContainer">
                <div class="terms">
                    

                    <p style="text-align: justify">
                        <br>
                        We welcome you to <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a> </em>&nbsp;website owned by <b>Discount Tadkaa India Limited</b> The terms and conditions is an agreement regulating our relationship with regard to the use of <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a> </em>for shopping by you, the user. You are advised to read this Agreement carefully. If you are not agreeable to any terms and conditions, you should not use the Services. You can use <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a> </em>shopping services if you are agreeable to all the terms and conditions of this Agreement in their entirety. You will be deemed to have accepted this Agreement and it will be a legally binding Agreement between you and &nbsp;<b>Discount Tadkaa India Limited</b><br>

                        <strong>Ordering <a id="order" name="order"></a></strong><br>
                        Orders can be placed on our web site <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a> </em>our site is completely secure - shop online with confidence. We also accept telephonic orders - please get in touch with customer service <br>
                        <strong>Viewing Orders <a id="vieworder" name="vieworder"></a></strong><br>
                        You can securely log into your personal section on our web site. After login, you are show a list of all your orders and their status. <br>
                        <strong>Updating Account Information <a id="account" name="account"></a></strong><br>
                        You can securely log into your personal section on our web site. After login, you are shown various options to update and modify your personal information. For any assistance you may also get in touch with our customer care. <br>
                        <strong>Reserved Rights <a id="Reserved" name="Reserved"></a></strong><br>

                        <b>Discount Tadkaa India Limited</b> reserves the right to:
                    </p>
                    <br />

                    <div style="text-align: justify">&nbsp;</div>
                    <ul type="disc" style="text-align: justify">
                        <li>Reject or cancel any order without rendering any reason or explanation to customer</li>
                        <li>Levy any penalty for goods not returned in proper condition as stated in the returns and replacement policy on this web site</li>
                        <li>Call customer and seek information to establish genuinty of a transaction</li>
                        <li>Share customer information with registered partners and associates of <b>Discount Tadkaa India Limited</b> for promotional activities</li>
                        <li>Change any part or piece of information on the web site without any notice to customers or visitors</li>

                    </ul>
                    <div style="text-align: justify">&nbsp;</div>
                    <p style="text-align: justify">
                        <strong><u>Applicable Law :</u></strong><br>
                        This site is created and controlled by &nbsp;<b>Discount Tadkaa India Limited</b> as such the laws of India shall apply; shall have jurisdiction in respect of all the terms &amp; conditions and disclaimers. <b>Discount Tadkaa India Limited</b> reserves the right to make changes to the site and the terms, conditions and disclaimers. <br>
                        <strong><u>Definitions:</u></strong><br>
                        "Agreement" means the terms and conditions as detailed herein including all schedules, shipping policy, privacy policy, disclaimers, and will include the references to this Agreement as amended, supplemented, varied or replaced from time to time. <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> Site means the online shopping platform owned and operated by &nbsp;<b>Discount Tadkaa India Limited</b> which provides a platform to the users to buy the products listed on <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a> </em>"Customer" / "Buyer" shall mean the person or any legal entity who accepts the products for sale on <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> by placing an order for and or purchases any products offered for sale on <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em><br>

                        <strong><u>Eligibility:</u></strong><br>
                        You represent and warrant that you are competent and eligible to enter into legally binding agreement and have the requisite authority to bind &nbsp;<b>Discount Tadkaa India Limited</b> to this Agreement. You shall not use this Site if you are not competent to contract under the applicable laws, rules and regulations.<br>
                        <strong><u>Term of Agreement/Service: </u></strong><br>
                        This Agreement shall continue to be in full force and effect for so long as you are using <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a></em> services. <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> provides the online shopping platform wherein the Users can purchase/buy the products listed on <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> (the "Services") pursuant to the terms and conditions set forth below. You agree to use the Services in a manner consistent with the terms hereof and also agree to abide by the terms and conditions of this Agreement, including but not limited to the privacy policy, and with all applicable laws and regulations. Either you or <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> may terminate the service at any time, with or without cause. However <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> reserves the right, in its sole discretion, to terminate your access to the <em><a href="http://discounttadka.com"><b>discounttadka.com</b></a></em> services and the related services or any portion thereof at any time, without any notices.<br>

                        <br>

                        The products that are showing/display on our website are belongs to sample pictures, the actual picture may vary from those pictures.

                        <br>
                        <br>

                        <strong><u>Modification of Terms and conditions of Service: </u></strong><br>
                        <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a></em> may at any time modify the terms and conditions ("Terms") of the Services without any prior notification to you. You can access the latest version of the Terms, which shall be updated regularly at the link our website. You undertake to regularly review the Terms. In the event that the modified Terms are not acceptable to you, you shall immediately discontinue using the Services. However, if you continue to use the Services, you hereby agree to accept and be bound by the modified Terms.<br>
                        <strong><u>Credit card details </u></strong><br>
                        You agree, understand and confirm that the credit card details provided by you for availing of services on <em><a style="text-decoration:underline" href="http://discounttadka.com"><b>discounttadka.com</b></a></em> will be correct and accurate and you shall not use the credit card which is not lawfully owned by you. You further agree and undertake to provide the correct and valid credit card details to EBS Payment Gateway. Further the said information will be not be utilized and shared by us with any of the third parties unless required by law, regulation or court order.<br>
                        <strong><u>Cancellation/ Refund Policy: </u></strong><br>

                        <br>
                        Please note that there may be certain orders that we are unable to process and must cancel even if approved. We reserve the right, at our sole discretion, to refuse or cancel any order for any reason. Some situations that may result in your order being cancelled include unavailability of stocks, inaccuracies or errors in product or pricing and information or misprint or problems identified by our credit and fraud avoidance department. We will contact you if all or any portion of your order is canceled or if additional information is required to accept your order. In case we are not able to process your order within 45 working days we will initiate a refund. <br>
                        If your order is cancelled after the payment was made by Credit Card or Net-Banking, we will refund the Credit Card or Net-Banking account. If the payment mode was Cheque or DD, we will send you a cheque (not a DD). Cheques will be sent only to the billing address of the customer. <br>

                        <br>
                        In case we receive a cancellation notice from the customer and the order has not been processed/ approved by us, we shall cancel the order and refund the entire amount. We will not be able to cancel orders that have already been processed and shipped out. <br>


                        <strong>Notice of Liability </strong><a id="notice" name="notice"></a>
                    </p>
                    <div style="text-align: justify">&nbsp;</div>
                    <ul type="disc" style="text-align: justify">
                        <li>Product information provided on this web site is accurate to the best knowledge of the company (<b>Discount Tadkaa India Limited</b>).<b>Discount Tadkaa India Limited</b> does not guarantee accuracy of product information and is not liable for any loss or damage due to incorrect information. Customers are advised to verify product information from the respective manufacturer before purchasing a product on this web site.</li>
                        <li><b>Discount Tadkaa India Limited</b> is not responsible for any loss or damage caused due to any malfunction or defect in a product or device. Customer is advised to go through safety features of the product before purchasing.</li>
                        <li><b>Discount Tadkaa India Limited</b> is not liable to pay any damages or penalty for any reason not attributable to it. In case &nbsp;<b>Discount Tadkaa India Limited</b> is found liable for any damage by appropriate court of law, it is only liable to either replace a product/service sold through this web site or pay an equivalent amount as per then prevailing market price of the product.</li>

                        <li><b>Discount Tadkaa India Limited</b> is not responsible for quality, usability, effectiveness or warranty of any product.</li>
                        <li>All disputes are subject to Jaipur Jurisdiction only.</li>
                        <li>All services on this web site are offered on as-is basis. No warranty or promise unless stated otherwise, is made for availability or effectiveness of the services offered by <b>Discount Tadkaa India Limited</b> through this web site.</li>
                    </ul>
                    <div style="text-align: justify">&nbsp;</div>
                    <p style="text-align: justify">All trademarks and information are properties of their respective owners. The name <b>Discount Tadkaa India Limited</b>, logo of <b>Discount Tadkaa India Limited</b> and this web site is copyright and property of <b>Discount Tadkaa India Limited</b>.</p>
                </div>
            </div>
        </div>
    </div>
</div>


